* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    width: 100%;
    max-width: 2048px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

/* Full-width colored bars as requested */
#bluebar {
    background-color: #003058;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* fill the full height of the grid row */
    height: 100%;
    align-self: stretch;
    min-height: 6px;
}

#greybar {
    background-color: #424242;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    /* fill the full height of the grid row */
    height: 100%;
    align-self: stretch;
    min-height: 6px;
}

header {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

header h1 {
    margin: 0;
    line-height: 140%;
    padding: .5rem;
    background-image: url(utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1em;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    background-color: #424242;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #BA1C21;
}

/* Hero areas occupy row 3 by default and span the full grid columns */
#homehero,
#studenthero,
#facultyhero {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homehero {
    background-image: url(homehero.jpg);
}

#studenthero {
    background-image: url(studenthero.jpg);
}

#facultyhero {
    background-image: url(facultyhero.jpg);
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

main img {
    float: right;
    padding-left: 2rem;
    /* keep images from growing larger than intended on wide or high-resolution displays */
    max-width: 300px;
    height: auto;
}

footer {
    grid-column: 2 / -2;
    grid-row: 5 / 6;
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

/* Medium Desktop: 1100px and below */
@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

/* Tablet: 900px and below */
@media only screen and (max-width: 900px) {
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero,
    #studenthero,
    #facultyhero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        /* keep image floated to the right so it sits beside the description list like utahtech4 */
        float: right;
        width: auto;
        max-width: 300px;
        height: auto;
        padding-left: 0px;
        margin-left: 1rem;
    }
}

/* Mobile: 600px and below */
@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    #homehero,
    #studenthero,
    #facultyhero {
        display: none;
    }
}

/* 601px-700px: use the same layout as the tablet (<=900px) breakpoint */
@media only screen and (max-width: 700px) and (min-width: 601px) {

    /* Use the tablet/nav stacking behavior */
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero,
    #studenthero,
    #facultyhero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    nav ul li {
        width: auto;
        flex: 1 1 auto;
    }
}