body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

/* ---------- MAIN GRID ---------- */
main {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  gap: 20px;
  padding: 20px 0;
}

/* ---------- GRID SECTIONS ---------- */
header {
  grid-column: 1 / -1;
  height: 80px;
  background-color: rgba(255, 0, 0, 0.3);
}

.hero {
  grid-column: 2 / 8;
  height: 350px;
  background-color: rgba(0, 0, 255, 0.3);
}

.scores {
  grid-column: 2 / 8;
  height: 200px;
  background-color: rgba(0, 255, 0, 0.3);
}

.news {
  grid-column: 2 / 8;
  height: 300px;
  background-color: rgba(255, 255, 0, 0.3);
}

.games {
  grid-column: 2 / 8;
  height: 250px;
  background-color: rgba(255, 165, 0, 0.3);
}

footer {
  grid-column: 1 / -1;
  height: 150px;
  background-color: rgba(255, 0, 255, 0.3);
}
